body {
  font-family: 'lora', serif;
  color: #cc9c6c;
}

.btn-blue {
  background-color: #44557C;
  border: none;
}

.btn:hover {
  color: white;
}

.game-stats {
  width: 900px;
  margin: 0 auto;
  padding-top: 50px;
}

#memory_board {
  width: 1000px;
  padding-top: 50px;
  margin: 0 auto;
}

.card {
  padding: 60px;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.card:hover {
  background-image: url('./assets/box_shadow.png');
  background-size: cover;
}

.covered {
  background-image: url('./assets/box.png');
  background-size: cover;
}
