#memory_board {
  width: 50%;
  margin: 0 auto;
}

.card {
  background-color: gray;
  padding: 60px;
  margin: 0 auto;
  border: black 1px solid;
}

.flipped {
  background-color: white;
  width: 100px;
  height: 100px;
}
