#memory_board {
  width: 1000px;
  padding-top: 50px;
  margin: 0 auto;
}

.card {
  padding: 60px;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.covered {
  background-image: url('./assets/box.png');
  background-size: cover;
}
